<a href="https://colab.research.google.com/github/anusree-k-r/Anusree-K-R-works/blob/main/Case_study_1_Anusree_K_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('Sales_add.csv')

In [ ]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [ ]:
### The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
### here we take null hypothesis as there is no increase in sales and alternate hypothesis as there is increase in sales.

In [ ]:
from statsmodels.stats.weightstats import ztest

In [ ]:
z_score,p_val = ztest(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],value=0)

In [ ]:
p_val

1.3046367348248653e-38

In [ ]:
if p_val<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

In [ ]:
### since null hypothesis is rejected we can verify that there is increase in sales after stepping into digital marketing.

In [ ]:
### The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [ ]:
from scipy.stats import chisquare, chi2_contingency, chi2

In [ ]:
contingencyTable = pd.crosstab(data['Region'],data['Manager'])
print(contingencyTable)
stat, p, dof, expected = chi2_contingency(contingencyTable)
stat, p, dof, expected

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [ ]:
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [27]:
### Here we got our answer as independent, so there is no dependency between Region and Manager.